@font-face {
  font-family: Norse-Bold;
  src: url(../fonts/Norse-Bold.otf);
}

body {
  margin: 0px;
  padding: 0px;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.left {
  background-image: url('images/bg-image.png.jpg');
 width: 35vw;
 background-repeat: no-repeat;
 background-size: cover;
 color: #fff;
 /*font-family: Norse-Bold, sans-serif;*/
}

.right {
    display: flex;
    flex-direction: column;
}

.first {
  height: 33vh;
}

.second {
  height: 33vh;
}

.third {
  height: 33vh;
}